*{
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.589);
}

input, button{
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.cont{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    margin-top: 50px;
}

.calculator h1{
    font-size: 48px;
    text-align: left;
    color: white;
}

.calc{
    margin-top: 50px;
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calc input{
    width: 600px;
    padding: 15px 5px;
    font-size: 24px;
    border: 1px solid white;
    outline: none;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
}

.calc input:hover{
    border: 1px solid rgb(139, 139, 139);
}

.calc .actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.calc .actions button{
    width: 60px;
    height: 60px;
    border: 1px solid white;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    border: 2px solid rgb(201, 106, 99);
    cursor: pointer;
    font-size: 24px;
    align-items: center;
    font-size: 50px;
}

.but .resultBtn{
    margin-top: 50px;
    width: 300px;
    padding: 15px 5px;
    font-size: 24px;
    border: 1px solid white;
    background-color: transparent;
    outline: none;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    cursor: pointer;
    color: aliceblue;
}

.but .clearBtn{
    margin-top: 50px;
    width: 300px;
    padding: 15px 5px;
    font-size: 24px;
    border: 1px solid white;
    background-color: transparent;
    outline: none;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    cursor: pointer;
    color: aliceblue;
}
.result{
    margin-top: 10px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 44px;
}
 h3{
    margin-top: 30px;
    font-size: 24px;
    font-weight: 400;
    color: rgb(194, 194, 194);
    font-weight: 900;
}